{% extends 'reviews/base.html' %}

{% block content %}
<div class="container">
  <h2 class="text-center">Flux de posts</h2>
  <div class="mb-4 text-center">
    <a href="{% url 'reviews:new_ticket' %}" class="btn btn-primary">Demander une critique</a>
    <a href="{% url 'reviews:new_review' %}" class="btn btn-secondary">Créer une critique</a>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <ul class="list-unstyled">
        {% for post in posts %}
          <li>
            {% if post.content_type == 'REVIEW' %}
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title"><strong>{{ post.user.username }}</strong> a posté une critique :</h5>
                  <h6>{{ post.headline }}</h6>
                  <p class="card-text">{{ post.body }}</p>
                  <small class="text-muted">Posté le : {{ post.time_created }}</small>
                  <div class="card mt-4">
                    <div class="card-body">
                      <h6 class="card-title">Ticket - <strong>{{ post.user.username }}</strong></h6>
                      <h7>{{ post.ticket.title }}</h7>
                      {% if post.ticket.image %}
                        <img src="{{ post.ticket.image.url }}" alt="{{ post.ticket.title }}" class="img-fluid" style="max-width: 150px; height: auto;">
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              

            {% elif post.content_type == 'TICKET' %}
              <div class="card mb-4">
                <div class="card-body">
                  <h5 class="card-title"><strong>{{ post.user.username }}</strong> a créé un ticket :</h5>
                  <h6>{{ post.title }}</h6>
                  <p class="card-text">{{ post.description }}</p>
                  {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid" style="max-width: 300px; height: auto;">
                  {% else %}
                    <p><em>Aucune image disponible pour ce ticket.</em></p>
                  {% endif %}
                  <small class="text-muted">Posté le : {{ post.time_created }}</small>
                  {% if not post.has_review %}
                    <a href="{% url 'reviews:new_review_for_ticket' post.id %}" class="btn btn-primary mt-2">Créer une critique</a>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          </li>
        {% empty %}
          <li>Aucun post disponible.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}